.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.imgFundo{
  width: 100%;
  position: fixed;
  top: 0;
}
.cardMarket {
  min-height: 100px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #0000001f;
  border-radius: 22px;
  justify-content: center;
}
.showProduct {
  margin-top: 40px;
  z-index: 9999;
  height: 30vh;
  border: 1px solid #0000001f;
  border-radius: 22px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pzin{
  font-size: small;
    padding: 10px;
}
.Product{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backButton{
  z-index: 999;
  width: 45px;
  position: fixed;
  top: 25px;
  left: 25px;
}
.countainerProduct{
  background-color: white;
  height: 240vh;
  margin-top: 245px;
  z-index: 99;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  align-content: center;
}
img {
  width: 80%;
}
